.contactUs {
    margin-top: 100px;
}

.text {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}

.text p {
    max-width: 320px;
}

@media screen and (max-width: 1240px) {
    .text {
        gap: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

        * {
            text-align: center;
        }
    }
}