.link {
    font-size: 20px;
    user-select: none;
}

.menu {
    transform: translateX(-100vw);
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgb(var(--light));
    top: -16px;
    z-index: 101;
    transition: all 0.15s ease-in-out;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    & a {
        color: rgb(var(--dark))
    }
}

.activeMenu {
    transform: translateX(0);
    transition: all 0.15s ease-in-out;
}